<app-header title="Content">
</app-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <h1>Título 1</h1>
  <h2>Título 2</h2>
  <h3>Título 3</h3>
  <p>El contenido puede ser el único componente de nivel superior en una página, o puede usarse junto con un encabezado, pie de página o ambos. Cuando se usa con un encabezado o pie de página, ajustará su tamaño para llenar la altura restante.</p>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>
      Pie de página
    </ion-title>
  </ion-toolbar>
</ion-footer>